*
{
    padding: 0;
    margin: 0;
}
   

.menu-bar{
    background-color: black;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.menu-bar ul{
    list-style: none;
}
.menu-bar ul li{
    display: inline-block;
    /* white-space: normal; */
    width: 100px;
    padding: 5px;
    
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
   
}
/* .minu-bar ul li:hover{
    background-color: cadetblue;
    color: white;
} */

.active, .menu-bar ul li:hover{
background-color: teal;
border-radius: 4px;
letter-spacing: 3px;
color: burlywood;
}
.menu-bar .margin-12{
    margin-right: 12px;
}
.sub-menu1{
    display: none;
}
.menu-bar ul li:hover .sub-menu1{
display: inline-block;
position: absolute;
background-color: darkcyan;
margin-top: 15px;
margin-left: -15px;

}
.menu-bar ul li:hover .sub-menu1 ul
{
    /* display: block; */
    /* position: absolute; */
    margin: 1px;
    
}
.menu-bar ul li:hover .sub-menu1 ul li
{
    display: block;
    margin: 1px;
    border: 1px solid gainsboro;
    background-color: rgb(0, 71, 71);
    opacity: 60%;
    color: lavender;
}
.img1{
    height: 550px;
    width: 100%;
}
.search{
    background-color: teal;
    color: white;
    display: block;
    padding: 5px 10px;
    width: auto;
    
}